@charset "utf-8";

/* header */
.commonheader {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.commonheader.on {
  display: block;
  text-align: center;
  background-color: #fff;
}
.commonheader h1 img {
  width: 150px;
  height: auto;
}
.commonheader.on h1 img {
  width: 210px;
  height: auto;
}
.commonheader h2 {
  font-size: 30px;
  padding-right: 100px;
  display: block;
}
.commonheader.on h2 {
  display: none;
}
.commonheader h2 > i {
  margin-right: 15px;
}
.commonheader .opennav {
  font-size: 30px;
}
.commonheader.on .opennav > i {
  transform: translateX(180px);
  max-width: 560px;
}

/* section */
#infosection {
  background-color: aliceblue;
  padding: 50px 0;
}
#infosection.on {
  display: none;
}
#infosection article {
  max-width: 600px;
}
#infosection h3 {
  margin: 15px ;
  font-size: 20px;
}
#infosection .box {
  width: 580px;
  height: 200px;
  border: 1.5px solid #555;
  border-radius: 3px;
}
#infosection a{
  display: block;
  text-align: end;
  margin: 15px;
  font-size: 14px;
  color: #555;
}